.header{
    background-color: green;
    width: auto;
    height: 120px;
    text-align: center;justify-content: center;
}
.title{
    color: aliceblue;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin: 50px 50% auto;
    font-size: 30px;
}